.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
webview-ui/node_modules/**
webview-ui/src/**
webview-ui/public/**
webview-ui/scripts/**
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/tsconfig.json

# Keep webview build files
!webview-ui/build/**
